# Core
Django==5.1.4
djangorestframework==3.15.2
psycopg2-binary==2.9.10

# Auth
djangorestframework-simplejwt==5.3.1

# CORS
django-cors-headers==4.6.0

# Environment variables
python-decouple==3.8

# Database URL parsing
dj-database-url==2.3.0

# Dev tools
django-extensions==3.2.3

# File storage — S3
django-storages[s3]==1.14.4
boto3==1.35.99

# Email — AWS SES
django-ses==4.3.0

# Production
gunicorn==23.0.0
whitenoise==6.8.2
python-json-logger==3.2.1
